In [1]:
#print string
name = "Hai Truong Vu"
print(f"Hello {name}!")

Hello Hai Truong Vu!

In [8]:
#if-statement
if True:
  print("Aligned properly")
#Misaligned -> IndentationError

Aligned properly

In [9]:
#Easy math
age = 25
age_next_year = age + 1
print(age_next_year)

26

In [13]:
# example of import cos and using pi in python

from math import cos

pi = 3.14
print(cos(pi))

-0.9999987317275395

In [16]:
#Boolean
is_raining = True
print(is_raining)

True

In [17]:
#String #2
unit = "Itec102"
print(unit)

Itec102

In [18]:
#convert different type of data into string
#convert string to int
num_1 = int("5")

#convert int to float
num_2 = float(3)

#convert number to string
num_3 = str(42)

print (f"{num_1}, {num_2}, {num_3}")

5, 3.0, 42

In [19]:
#Int + Float -> Float
result = 3 + 2.0
print(result, type(result))

#Boolean + Int -> Int
total = True +3
print(total, type(total))

5.0 <class 'float'>
4 <class 'int'>

In [20]:
#arithmetics
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b) #modulus
print(a ** b)

13
7
30
3.3333333333333335
3
1
1000

In [23]:
print(7 // 2)
print(7 % 2)

3
1

In [24]:
#boolean practice
team_a = 260
team_b = 245

print(team_a == team_b)
print(team_a != team_b)
print(team_a > team_b)
print(team_a < team_b)
print(team_a >= team_b)
print(team_a <= team_b)

False
True
True
False
True
False

In [28]:
#Logical operators practice
sunny = True
weekend = False
if sunny and weekend:
  print("Go to the beach")
else:
  print("Go to the uni pls")

Go to the uni pls

In [30]:
#conditional Statement
#if-else #1
temp = 35
if temp > 30:
  print("Turn on the AC pls T.T")
else:
  print("It's kinda cool tbh")

Turn on the AC pls T.T

In [36]:
#if-else #2
is_raining = True #Can change to False to test the other condition
if is_raining:
  print("Bring an umbrella")
else:
  print("Leave umbrella at home")

Leave umbrella at home ðŸ˜Š

In [37]:
#if-else #3 (elif)

train_running = True
bus_running = False

if train_running:
  print("Take the train")
elif bus_running:
  print("Take the bus")
else:
  print("Walk")

Take the train

In [38]:
#For loop
students = ["Ava", "Noah", "James"]

for student in students:
  print(f"Hello {student}")

Hello Ava
Hello Noah
Hello James

In [40]:
#While loop

cups = 0

while cups < 3:
  cups += 1
  print(f"Filled cup {cups}")

Filled cup 1
Filled cup 2
Filled cup 3

In [46]:
#range() Function

for i in range(5):
  print(i)

for i in range(2,6):
  print(i)

for i in range(0, 10, 2 ):
  print(i)

0
1
2
3
4
2
3
4
5
0
2
4
6
8

In [50]:
#break n continue #1
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

In [51]:
#String slicing

name = "Sydney"
#Slice from index 0 -> 3
print(name[0 : 3])

#Slice from start -> index 4
print(name[:4])

#Slice from index 3 to the end
print(name[3:])

Syd
Sydn
ney

In [54]:
print("Hello \nWorld")

Hello
World