In [ ]:
my_list = ['Parramatta', 'Newtown', 'Bondi']
my_list.append('Manly')
print(my_list)

['Parramatta', 'Newtown', 'Bondi', 'Manly']

In [ ]:
foods = ['Tim tam', 'Vegemete', 'Lamington']
foods.sort()
print(foods)

['Lamington', 'Tim tam', 'Vegemete']

In [ ]:
cities = ['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Canberra']
del cities[1]
print(cities)

['Sydney', 'Brisbane', 'Perth', 'Canberra']

In [ ]:
# Tuples: fixed and cannot be changed after creation (Ordered but immutable)

passport = ('Alice', 'Au123456', 'Sydney')
print(passport[0])

Alice

In [ ]:
# Creating a tuple

student = ('Alex', 'A00123456', 'Data Science')
print(student)

('Alex', 'A00123456', 'Data Science')

In [ ]:
# Modify 1 value

student = ('Alex', 'A00123456', 'Data Science')
student[0] = Bob

print(student)

NameError: name 'Bob' is not defined

In [ ]:
# Sets remove duplicate

visited = {'Bondi', 'Newtown', 'Town Hall','Bondi'}
print(visited)

{'Town Hall', 'Bondi', 'Newtown'}

In [ ]:
# Adding to a Set

hobbies = {'Surfing', 'Reading', 'Gaming'}
hobbies.add('Painting')
print(hobbies)

{'Gaming', 'Surfing', 'Reading'}

In [ ]:
# Finding Common Items in Sets
s1 = {'a', 'd', 'c'}
s2 = {'c', 'd', 'e'}
print(s1.intersection(s2))

{'c', 'd'}

In [ ]:
# Accessing Dictionary Values

student = {'name': 'Alex','course': 'Data Science'}
print(student['name'])

Alex

In [ ]:
# Creating a Dictionary

profile = {'name' : 'Ella', 'id': 'A00123456', 'gpa': 3.8 }
print(profile)

{'name': 'Ella', 'id': 'A00123456', 'gpa': 3.8}

In [ ]:
# Updating a Dictionary

profile = {'name' : 'Ella', 'id': 'A00123456', 'gpa': 3.8 }
profile['gpa'] = 4.0
profile['Status'] = 'Pass'

print(profile)

{'name': 'Ella', 'id': 'A00123456', 'gpa': 4.0, 'Status': 'Pass'}

In [ ]:
# Filtering Dictionaries in a list

all_cafes = [
    {'name': 'Bondi cafe','open' : True },
    {'name': 'Town Hall cafe','open' : False },
    {'name': 'Rhodes cafe', 'open' : True }
]

cafes = [cafe for cafe in all_cafes if cafe.get('open')] # if we add not before cafe.get --> it will print the false statement (closed cafes)
print(cafes)

[{'name': 'Bondi cafe', 'open': True}, {'name': 'Rhodes cafe', 'open': True}]

In [ ]:
# Create a list of squares using list comprehension

squares = [x * x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
cubes = [x**3 for x in range(6)]
print(cubes)

[0, 1, 8, 27, 64, 125]

In [ ]:
# Dictionary Comprehension

temps = {city: 25 for city in ['Sydney', 'Melbourne']}
print(temps)

{'Sydney': 25, 'Melbourne': 25}

In [ ]:
squares = {x: x**2 for x in range(2,6)}
print(squares)

{2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
nums = {x for x in [1,2,2,3,3,4]}
print(nums)

{1, 2, 3, 4}

In [ ]:
squares = {x**2 for x in range(2,6)}
print(squares)

{16, 9, 4, 25}

In [ ]:
evens = {x for x in range(1,11) if x % 2 ==0}
print(evens)

{2, 4, 6, 8, 10}

In [ ]:
grades = {'Math' : 80, 'Python' : 65, 'AI' : 90}
passed = {k: v for k,v in grades.items() if v >= 70}
print('All Grades :', grades)
print('Passed :', passed)

All Grades : {'Math': 80, 'Python': 65, 'AI': 90}
Passed : {'Math': 80, 'AI': 90}