In [10]:
#TASK 1: Write a python program to display 19/3 as whole number quotient, numerator and denominator in a mixed fraction. The fixed fraction form of 19/3 is 6 1/3

whole_num = 19 // 3
numerator = 19 % 3
denominator = 3

print(f"Whole number quotient is:", whole_num)
print(f"The numerator of the mixed fraction is:", numerator)
print(f"The denominator of the mixed fraction is:", denominator)

Whole number quotient is: 6
The numerator of the mixed fraction is: 1
The denominator of the mixed fraction is: 3

In [12]:
#TASK 2: Write a program that calculates the area of a circle with a radius of 2.0

import math
radius = 2.0
area = math.pi * radius ** 2
print(f"The area of the circle with {radius} is:", area)

The area of the circle with 2.0 is: 12.566370614359172

In [16]:
#TASK 3: Write a program that displays the number in reverse order

num = 5213
rev_num = int(str(num)[::-1])
print(rev_num)

3125

In [21]:
#TASK 4: Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

sampleDict["location"] = sampleDict.pop("city")

print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [23]:
#TASK 5: displays the common elements that appear in the two lists below:
#list1: 5 5 2 10 1 6
#list2: 9 2 3 10 3 34 35 67 3 1


list1 =[ 5, 5, 2, 10, 1, 6]
list2 = [9, 2, 3, 10, 3, 34, 35, 67,3 ,1]

common = set(list1).intersection(list2)
print(f"The common elements are: ", common)

The common elements are:  {1, 2, 10}

In [25]:
#TASK 6: list comprehension - squaring each element of a list

list_a = [5,5,2,10,1,6]
list_b = [x**2 for x in list_a]

print(list_b)

[25, 25, 4, 100, 1, 36]